.chatPage {
  display: flex;
  height: 100vh;
}

.chatWindowWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.emptyChat {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: gray;
}

.error {
  color: red;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .chatPage {
    flex-direction: column;
  }

  .chatList {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
    height: 100vh;
  }

  .chatWindowWrapper {
    display: none;
    height: 100vh;
  }

  .chatWindowWrapper.active {
    display: block;
  }
}
