.primaryButton {
  padding: 0.75rem 2rem;
  background-color: #646cff;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.primaryButton:hover {
  background-color: #4e53cc;
}

.outlineButton {
  padding: 0.75rem 1rem;
  background-color: transparent;
  color: #646cff;
  border: 2px solid #646cff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;

  display: inline-block;
  max-width: 100%;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}

.outlineButton:hover {
  background-color: #646cff;
  color: white;
}
